<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="http://localhost:5000/static/result.css">
    <!-- <link rel="stylesheet" href="./script.js"> -->
</head>

<body id="main">
    <div id="cont">

        <div class="navbar">
            <div class="container">
                <div class="logo">
                    <h1> <span class="highlight">MOCK </span>SCRIPT</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="main2">
        <h1 id="header1">Performance Analysis</h1>

        <div class="progress_container">
            <div class="progress">
                <div class="progress_item">
                    <h2 class="progress_title">Accuracy</h2>
                    <div class="progress_bar">
                        <div class="bar" data-value="7" data-text="70"></div>
                    </div>
                </div>
                <div class="progress_item">
                    <h2 class="progress_title">Length <p>(max characters 500)</p></h2>
                    <div class="progress_bar">
                        <div class="bar" data-value="40" data-text="40"></div>
                    </div>
                </div>
                <div class="progress_item">
                    <h2 class="progress_title">Total Questions Attempt</h2>
                    <div class="progress_bar">
                        <div class="bar" data-value="80" data-text="80"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="main3" >
        <h2>Question by question comparison</h2>
        
    </div>
    <div class="wrapper1">
        <div class="wait-box">
          <h2>Analyzing your performance</h2>
          <h3>please wait for some time</h3>
          <div class="lds-dual-ring" id="spinner" style="margin-left: 30px;"></div>
        </div>
      
      </div>
      <div class="space"></div>

    <script src="http://localhost:5000/static/result.js"></script>
</body>

</html>